body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*
{
    margin: 0px;
    padding: 0px;
    --bgColor:#fff;
    --header: #efefef;
}

body
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
#root
{
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 100vw;
    grid-template-rows: 10% 80% 10%;
    place-items: center;
    overflow: hidden;
}
section
{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    min-height: 100vh;
    background-color: var(--bgColor);
    z-index: -1;
}
header
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: var(--header);
    z-index: 1;
}
.heading
{
    margin: 5px;
}
.container
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 5px;
    overflow-y: scroll;
    scroll-behavior: smooth;
}
.container::-webkit-scrollbar
{
    width: 0px;
}
.bubble
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 30px;
    max-width: 50%;
    flex-direction: column;
    border-radius: 30px;
    padding: 20px;
    margin-top: 5px;
}

.bubble::before,.bubble::after
{
    position: absolute;
    opacity: 70%;
    font-size: 0.5em;
    align-self: start;
    z-index: -1;
}

.bubble::before
{
    content: attr(data-user);
    top: 5px;
    left: 22px;
    font-size: 0.6em;
}

.bubble::after
{
    content: attr(data-time);
    bottom: 8px;
    right: 15px;
}


.sent
{
    align-self: end;
    margin-right: 2.5%;
    color: #000;
    background-color: #efefef;
    animation: send 0.25s forwards;
}

@keyframes send
{
    0%
    {
        translate: 50px 0px;
        transform:scale(0);
    }
    100%
    {
        translate: 0px 0px;
        transform:scale(1);
    }
}

.received
{
    align-self: start;
    margin-left: 2.5%;
    color: #fff;
    background-color: rgb(145, 5, 169);
    animation: receive 0.25s forwards;
}

@keyframes receive
{
    0%
    {
        translate: -50px 0px;
        transform:scale(0);
    }
    100%
    {
        translate: 0px 0px;
        transform:scale(1);
    }
}

.inputBox
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 100%;
    background-color: var(--bgColor);
    gap: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.textBox
{
    width: 100%;
    padding: 15px;
    font-size: 1em;
    outline: none;
    border: 1px solid rgb(145, 5, 169,0.25);
    border-radius: 50px;
}

.textBox::placeholder
{
   opacity: 50%;
}
input[type="file"]
{
    display: none;
}
.icon
{
    fill: rgb(145, 5, 169);
    width: 50px;
    object-fit: contain;
    background-color: #efefef;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
}
.icon:hover
{
    filter: brightness(0.8);
}
.submitBtn
{
    width: 100px;
    height: 50px;
    border: none;
    border-radius: 50px;
    color: #fff;
    background-color: rgb(145, 5, 169);
    cursor: pointer;
}

.submitBtn:hover
{
    filter: brightness(0.8);
}

.login
{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5px;
    gap: 10px;
}

.toast
{
    opacity: 50%;
}

.imgtag
{
    width: 100%;
    object-fit: contain;
    border-radius: 10px;
    cursor: pointer;
}

.imgtag:hover
{
    filter: brightness(0.8);
}
.atag
{
    color: inherit;
}
