body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html
{
    margin: 0px;
    padding: 0px;
    --bgColor:#fff;
    --header: #efefef;
    --bubble:rgb(145, 5, 169);
    --select:var(--bubble);
    --fontColor:#000;
    --borderColor:rgba(0,0,0,0.1);
    box-sizing: border-box;
}

.dark
{
    --bgColor:#1d1d1d;
    --header: #303030;
    --bubble:rgb(145, 5, 169);
    --select:var(--bubble);
    --fontColor:#fff;
    --borderColor:rgba(255,255,255,0.2);
}

body
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
.home
{
    display: grid;
    grid-template-columns: 30% 70%;
    width: 100vw;
    height: 100vh;
}
@media (width <= 960px)
{
    .home
    {
        grid-template-columns: 100vw;
    }
    .chatPage
    {
        position: absolute;
        background-color: var(--bgColor);
    }
}

.loader
{
    width: 30px;
    aspect-ratio: 1/1;
    border-top: 2px solid var(--bubble);
    border-right: 2px solid var(--bubble);
    border-radius: 50%;
    animation: loading 0.5s linear infinite;
}
@keyframes loading
{
    from
    {
        rotate: 0deg;
    }

    to 
    {
        rotate: 360deg;
    }
}
.chatPage
{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-rows: 10% 80% 10%;
    place-items: center;
    overflow: hidden;
}
.hide
{
    display: none;
}
section
{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    min-height: 100vh;
    background-color: var(--bgColor);
    z-index: -1;
}
.rooms
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    width: 100%;
    background-color: var(--header);
    overflow-x: hidden ;
    overflow-y: scroll;
}

.chat-header
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;
    color: var(--fontColor);
    border-bottom: 1px solid var(--borderColor);
    font-size: 1.5rem;
    gap: 5px;
    order: -1;
}
.menu
{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    top: 55px;
    right: 5px;
    font-size: 1rem;
    width: 20%;
    padding: 10px;
    background-color: var(--bgColor);
    border-radius: 10px;
    z-index: 1;
}

.menu > div , .menu > div > label, .menu > div > span
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 5px;
    cursor: pointer;
}
.menu > div
{
    padding: 5px;
}
.menu > div > label
{
    display: block;
}
.menu > div > span
{
    justify-self: flex-start;
}
.img
{
    position: relative;
    display: flex;
    margin-left: 10px;
    min-width: 50px;
    max-width: 80px;
    aspect-ratio: 1/1;
    background-color: var(--bgColor);
    border: 2px solid var(--borderColor);
    border-radius: 50%;
}

.active-status
{
    position: absolute;
    bottom: 5px;
    right: 5px;
    width: 15px;
    aspect-ratio: 1/1;
    background-color: rgb(0, 255, 0);
    border: 1px solid var(--borderColor);
    box-shadow: inset  0px 0px 2px 2px rgba(0, 170, 0, 0.5) , 0px 0px 2px 2px rgba(0, 255, 0, 0.5);
    border-radius: 50%;
}

img
{
    width: 100%;
    border-radius: 50%;
    object-fit: contain;
}

.user,.details
{
    display: flex;
    justify-content: center;
    padding: 10px;
    width: 100%;
    font-size: 1rem;
    color: var(--fontColor);
}
.user
{
    position: relative;
    cursor: pointer;
    background-color: var(--header);
    border-bottom: 1px solid var(--borderColor);
}

.user:hover
{
    filter: brightness(0.9);
}
.user:active
{
    color: var(--bgColor);
    background-color: var(--select);
}
.top
{
    order: -1;
}
.details
{
    flex-direction: column;
}
header
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 5px;
    color: var(--fontColor);
    background-color: var(--header);
    z-index: 1;
    overflow: hidden;
}

header > .back
{
    display: grid;
    place-items: center;
    width: 50px;
    aspect-ratio: 1/1;
    cursor: pointer;
}

header > .img
{
    max-width: 50px;
}
.heading
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

}
.container
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 5px;
    overflow-y: scroll;
    scroll-behavior: smooth;
}
.container::-webkit-scrollbar,.rooms::-webkit-scrollbar
{
    width: 0px;
}
.bubble
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 30px;
    max-width: 50%;
    flex-direction: column;
    border-radius: 30px;
    padding: 20px;
    margin-top: 5px;
}

.bubble::before,.bubble::after
{
    position: absolute;
    opacity: 70%;
    font-size: 0.5em;
    align-self: start;
    z-index: -1;
}

/* .bubble::before
{
    content: attr(data-user);
    top: 5px;
    left: 22px;
    font-size: 0.6em;
} */

.bubble::after
{
    content: attr(data-time);
    bottom: 8px;
    right: 15px;
}


.sent
{
    align-self: end;
    margin-right: 2.5%;
    color: var(--fontColor);
    background-color: var(--header);
    animation: send 0.25s forwards;
}

@keyframes send
{
    0%
    {
        translate: 50px 0px;
        transform:scale(0);
    }
    100%
    {
        translate: 0px 0px;
        transform:scale(1);
    }
}

.received
{
    align-self: start;
    margin-left: 2.5%;
    color: #fff;
    background-color: var(--bubble);
    animation: receive 0.25s forwards;
}

@keyframes receive
{
    0%
    {
        translate: -50px 0px;
        transform:scale(0);
    }
    100%
    {
        translate: 0px 0px;
        transform:scale(1);
    }
}

.inputBox
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 100%;
    background-color: var(--bgColor);
    gap: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.textBox
{
    width: 100%;
    padding: 15px;
    font-size: 1em;
    outline: none;
    color: var(--fontColor);
    background-color: var(--header);
    border: 1px solid rgb(145, 5, 169,0.25);
    border-radius: 50px;
}

.textBox::placeholder
{
   opacity: 50%;
}
input[type="file"]
{
    display: none;
}
.icon
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    aspect-ratio: 1/1;
    font-size: 1.5rem;
    color: var(--select);
    background-color: #efefef;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
}
.icon:hover
{
    filter: brightness(0.8);
}
.submitBtn
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    min-width: 150px;
    height: 50px;
    padding: 10px;
    border: none;
    border-radius: 50px;
    color: #fff;
    background-color: rgb(145, 5, 169);
    cursor: pointer;
}
.submitBtn > div
{
    display: grid;
    place-items: center;
    font-size: 1.5rem;
    color: var(--bgColor);
    background-color: var(--bubble);
}

.submitBtn:hover
{
    filter: brightness(0.8);
}

.login
{
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5px;
    gap: 10px;
}

.toast
{
    opacity: 50%;
}

.imgtag
{
    width: 100%;
    object-fit: contain;
    border-radius: 10px;
    cursor: pointer;
}

.imgtag:hover
{
    filter: brightness(0.8);
}
.atag
{
    color: inherit;
}
